:root {
  /* Colors */
  --color-primary-1: #7E57C5;
  --color-primary-2: #554994;
  --color-primary-3: #1F1829;
  --color-primary-4: #32254A;
  --color-primary-transparent: #7e57c5b4;

  --color-neutral-1: #FFFFFF;
  --color-neutral-1-transparent: #ffffff24;
  --color-neutral-2: #AAA5B6;
  --color-neutral-3: #d1ccdd;
  --color-neutral-4: #aaa5b6ad;
  --color-neutral-5: #ddd7d7;

  --color-gradient-1: linear-gradient(238deg, rgba(64, 19, 146, 1) 0%, rgba(126, 87, 197, 1) 150%);
  --color-gradient-3: #090215;

  --bg-gradient-1: linear-gradient(195deg,
      hsl(261deg 49% 56%) 0%,
      hsl(262deg 53% 49%) 6%,
      hsl(262deg 57% 43%) 11%,
      hsl(262deg 61% 36%) 18%,
      hsl(262deg 66% 30%) 25%,
      hsl(262deg 70% 24%) 32%,
      hsl(262deg 75% 17%) 41%,
      hsl(262deg 79% 11%) 52%,
      hsl(262deg 83% 5%) 73%);

  --bg-gradient-2: background-image: linear-gradient(25deg,
      hsl(263deg 84% 5%) 0%,
      hsl(264deg 86% 6%) 11%,
      hsl(262deg 82% 6%) 20%,
      hsl(263deg 84% 7%) 28%,
      hsl(263deg 81% 8%) 36%,
      hsl(264deg 82% 9%) 43%,
      hsl(263deg 80% 10%) 50%,
      hsl(263deg 78% 11%) 57%,
      hsl(263deg 78% 12%) 64%,
      hsl(264deg 79% 15%) 70%,
      hsl(263deg 78% 18%) 76%,
      hsl(262deg 78% 21%) 81%,
      hsl(262deg 77% 24%) 87%,
      hsl(262deg 78% 27%) 91%,
      hsl(262deg 77% 29%) 96%,
      hsl(261deg 77% 32%) 100%);

  --bg-gradient-2: radial-gradient(circle, var(--color-gradient-1) -50%, var(--color-gradient-2) 100%);
  --bg-gradient-3: radial-gradient(0deg, var(--color-gradient-1) -50%, var(--color-transparent) 100%);

  --color-button-1: #582cbd;
  --color-button-2: #7e57c5;
  --color-button-3: #38216b;

  --box-shadow-1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --box-shadow-2: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

body {
  font-family: "Consolas"
}

@font-face {
  font-family: 'Consolas';
  src: url('../assets/fonts/Consolas-Bold.woff2') format('woff2'),
      url('../assets/fonts/Consolas-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Consolas';
  src: url('../assets/fonts/Consolas.woff2') format('woff2'),
      url('../assets/fonts/Consolas.woff') format('woff');
  font-weight: normal;
}

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  user-select: auto;
}

.is-visible {
  display: block !important;
}

.is-hidden {
  display: none !important;
}

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

/* LOADING SCREEN */
.enter__loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-gradient-1);
}

.loading {
  width: 80%;
  position: absolute;
  top: 40%;
  translate: 0 -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 90%;
}

.progress-value {
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  animation: load 6s normal forwards;
  background: #fff;
  height: 30px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 100%; }
}

/* START SCREEN */

.enter-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.enter__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 37%;
  translate: 0 -50%;
  z-index: 0;
}

.enter__description {
  font-family: "Consolas";
  font-size: 2rem;
  color: white;
  text-align: center;
}

.enter__logo {
  width: 90vw;
}

.a-enter-ar-button {
  margin-right: 0 !important;
  position: static !important;
  padding: 3rem !important;
  background-color: transparent !important;
}

.enter__content:has(.is-hidden) .a-enter-ar  {
  display: none;
}

.a-enter-ar-button:hover {
  background-color: transparent !important;
}

.a-enter-ar {
  box-shadow: var(--box-shadow-2);
  padding: 0 1rem;
  border-radius: 1rem;
  background: var(--color-gradient-1);
  z-index: 0;
  bottom: auto !important;
  width: fit-content;
  position: absolute;
  right: 20px;
  top: 65%;
  left: 50%;
  translate: -50% -50%;
  width: fit-content !important;
}

.a-enter-ar.is-visible {
  z-index: 1000;
}

.a-enter-vr {
  display: none;
}

/* SPLASH SCREEN */

.splash {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background: var(--color-gradient-1);
}

.splash__title {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3.5rem;
  margin: 0;
}

.splash__title span {
  font-size: 1rem;
}

.splash__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  height: 100vh;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.splash__content button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  flex-direction: column;
  width: 70%;
}

.splash__content svg {
  fill: white;
}

/* VIRTUAL PET */

.virtual-pet-app {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  user-select: none;
}

/* APP */

.app__title-lector,
.app__title-pet {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50%;
}

.app__buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  z-index: 1000;
  top: 50%;
  right: .5rem;
  translate: 0 -50%;
}

.transcription {
  position: absolute;
  bottom: 0;
  color: white;
  text-transform: uppercase;
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.transcription__content {
  width: 65%;
}

/* BUTTONS */

.exit-button {
  width: 90%;
  padding: .5rem !important;
}

.exit-app {
  background-color: var(--color-button-2) !important;
  border: none !important;
}

.btn-grad img {
  width: 2rem;
}

.btn-grad {
  text-align: center;
  background-color: #351b71d2;
  box-shadow: var(--box-shadow-2);
  margin: 0;
  white-space: nowrap;
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: none;
  font-family: 'Consolas';
  cursor: pointer;
}

.btn-grad.btn-grad--outline {
  background: transparent;
  border: 1.5px solid var(--color-neutral-3);
}

.btn-grad:hover {
  box-shadow: none;
  color: #fff;
  text-decoration: none;
}

.btn-grad.btn-grad--round {
  border-radius: 1rem;
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
  padding: 2rem;
}